*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    /* background: rgb(30, 30, 30); */
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    background-image:  linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.815)),url('./img.jpg');
    display: row;
    justify-content:space-between ;

}


@media (max-width: 480px) {
    body {
        background-size: cover;
        background-position: center center; 
    }
}
